# Ignore the build output directories
bin/
bin-int/
# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
# Vendor folder for third-party libraries
vendor/
